:root {
  --fb: "Anaheim", sans-serif;
  --fh: "Press Start 2P", system-ui;
  /* --f1: "Nixie One", system-ui; */
  /* --f2: "Ledger", serif; */
  /* --bg: #E9E9EE; */
  /* --bg: #F5F5F5; */
  --fg: #282D32;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: var(--fb); */
  font-family: var(--fb);
}


h1, h2, h3 {
  /* font-family: var(--f1); */
}

body {
  /* height: 100vh; */
  background-color: var(--bg);
  color: var(--fg);
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-family: var(--f2); */
  /* font-size: 90%; */
}

.container {
  /* border: 1px solid gray; */
  /* width: 100vw; */
  width: 100%;
  height: 100%;
  padding: 1rem;
  /* background-color: aqua;   */
}

.editMode {
  display: none;
  background-color: greenyellow;
}

.flex-col {
  flex-direction: column;
}

.warningBox {
  /* display: flex; */
  display: none;
  width: 50vw;
  background-color: pink;
}

.fullViewMode {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 1rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.confirmBtnGroup {
  display: flex;
  align-items: center;
  justify-content: center;
}


.flex-row {
  display: flex;
  flex-direction: row;
}

#addIgemBtn {
  display: block;
  margin: 1rem 0 1rem 0;
}

.addGroup {
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
}

.addGroup button {
  width: 20px;
}

.add_date {
  display: none;
  /* display: block; */
  margin: auto;
}

.dataGrid {
  display: grid;
  grid-template-columns: 1fr;
  /* background-color: aquamarine; */
}

.line {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 3fr 3fr 1.5fr 1fr 3fr 1.5fr;
  /* grid-template-columns: 0.5fr 1fr 4fr 5fr 1fr 1fr; */
}

.line * {
  margin: auto 0 auto 0;
}

.full-margin {
  margin: auto;
}

.line input {
  /* width: auto; */
  /* display: block; */
  /* width: fit-content; */
}

.line * {
  cursor: pointer
}

.circleGroup {
  display: flex;
}

.circle {
  /* padding: 1rem; */
  width: 25px;
  height: 25px;
  /* background-color: lightgrey; */
  font-size: smaller;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.unshaded {
  color: gray;
  border: 1px solid gray;
}

.shaded {
  background-color: greenyellow;
  color: black;
  border: 1px solid black;
}

.task {
  /* font-weight: bold; */
}

.urgent {
  background-color:lightpink;
  /* color: white; */
}

.pending {
  background-color: lightgray;
}

.edit_id {
  width: 25px;
}

.edit_category {
  width: 100px;
}

.edit_task {
  width: 150px;
}

.edit_earned {
  width: 60px;
}



h1 {
  font-family: var(--fh);
  margin: 2rem auto 1rem auto;
}

.earnings {
  /* margin-bottom: 1rem; */
}

.save {
  width: 50px;
}

.numberInput {
  width: 50px;
}

.optionBox {
  display: flex;
  /* display: none; */
  visibility: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: none;
}

.unclickable {
  pointer-events: none;
  cursor: not-allowed;
}

.tableBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

table {
  border-collapse: collapse;
  /* width: 100vw; */
  overflow-x: scroll;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}


.hidden,
.hiddenCell {
  display: none;
}

.highlight {
  background-color: palegoldenrod;
  /* background-color: #E5D6D2; */
  /* background-color:tomato; */
  /* color: white; */
}

.shown {
  visibility: visible;
}


.displayNone {
  display: none;
}


#addForm {
  display: flex;
  flex-direction: column;
}

#addBtn {
  margin-top: 1rem;
}

#addForm input,
#addForm select {
  max-width: 300px;
  margin: 5px 0 5px 0;
}

#chart-container {
  /* width: 50vw; */
}

#lineChart {
  width: 80vw;
  height: 80vh;
}



/* Media Query for Phones */
@media only screen and (max-width: 600px) {
  .line {
    display: grid;
    grid-template-columns: auto;
    border-bottom: 1px solid rgb(174, 171, 171)
  }
  .task {
    font-weight: bold;
  }

  .head {
    /* display: none; */
    /* visibility: hidden; */
  }
}

/* Media Query for Tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {

  /* Styles for tablets go here */
  .container {
    /* width: 100vw; */
  }
}

/* Media Query for Laptops and Desktops */
@media only screen and (min-width: 1025px) {

  /* Styles for laptops and desktops go here */
  .container {
    /* width: 80vw; */
  }
}