* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
  }

.gridBox {
    display: grid;
    grid-template-columns: 5fr 2fr 1fr;
}

.dataGrid {
    display: grid;
    grid-template-columns: 1fr;
}

.line {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.hidden {
    display: none;
}

#addGrid {
    display: none;
}

.optionBox {
    display: none;
}